body {
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'  
  }
  
.inner{
    max-width: 1086px;
    margin: 0 auto;
    width: 100%;
}
.header .wrapper{
    background-color: #3f51b5;
    display: flex;
    height: 100px;
    justify-content: space-between;
    left: 0;
    margin: 0;
    padding: 30px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.header-left{
    margin-left: 140px;
    margin-top: -10px;
}
.header-right{
    margin-right: 140px;
}
.header ul{
    display: flex;
}
.header-nav li:not(:last-child){
    margin-right: 30px;
}
.header-nav a{
    position: relative;
    color: #ffffff;
}
.header-nav {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.header-nav a::after {
  position: absolute;
  content: '';
  top:23px;
  left: 0;
  width: 0;  
  height: 3px;
  background: #e81919;
  transition: all 0.3s ease 0s;
}
.header-nav a:hover {
  cursor: pointer;
}
.header-nav a:hover::after {
  width: 100%;
}
.header-nav .active{
    border-bottom: 3px solid #e81919;
    width: 35px;
}
#mainimage {
  position: relative;
  width: 100%;
  height: auto;
}
      .swiper-slide {
          width: 100%;
          height: 800px;
          object-fit: cover;
          display: none;
          display: block;
      }    
  

  .swiper-container .inner {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
  }

     .swiper-container dl {
          padding-top: 249px;
          text-align: center;
      }

        

             .swiper-container h3 {
                  font-size: 68px;        
              }
          

         .swiper-container dd {
              padding-top: 12px;
              padding-bottom: 138px;
          }
             .swiper-container p {
                  font-size: 38px;
                  font-weight: bold;
                  margin-bottom: 82px;
              }

             .swiper-container a {
                  padding: 17px 81px;
                  background-color: #3F51B5;
                  border-radius: 12px;
                  font-size: 38px;
                  font-weight: bold;
                  color: #fff;
              }
          
      .swiper-button-prev {
          position: absolute;
          top: 50%;
          left: 0;
          padding: 25px;
          background-color: ivory;
          border-radius: 30px;
      }
  
      .swiper-button-next {
          position: absolute;
          top: 50%;
          right: 0;
          padding: 25px;
          background-color: ivory;
          border-radius: 30px;
      }

      .index-btn-wrapper {
          display: flex;
          justify-content: center;
          padding-bottom: 24px;
      }
          .index-btn {
              width: 16px;
              height: 16px;
              border-radius: 50%;
              background-color: #fff;
              margin-right: 12px;
          }

          .btn-active {
              background-color: #2F7DC8;
          }
.header-logo img{
    vertical-align: bottom;
}
#card{
    background-color: #efefef;
    padding: 68px 0 137px 0;
}
.card .inner,
.News .inner,
.price .inner,
.access .inner,
.contact .inner{
    max-width: 1086px;
    margin: 0 auto;
    width: 100%;
}
.card .card-title,
.News .News-title,
.price .price-title,
.access .access-title,
.contact .contact-title{
    color: #333333;
    font-size: 6.0em;
    font-weight: bold;
    text-align: center;
}
.card .title-line,
.News .title-line,
.price .title-line,
.access .title-line,
.contact .title-line{
    width: 76px;
    height: 5px;
    background-color: #3f51b5;
    margin: 34px auto 68.57px auto;
}
.card-items{
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
}
.card-item{
    background-color: #ffffff;
    border-radius: 4px;
    color: #6f7579;
    height: 355px;
    margin-right: 30px;
    margin-bottom: 20px;
    padding: 16px 16px 28px 16px;
    width: calc(33.333% - 100px / 3);
}
.card-item::nth-child(3){
    margin-right: 0;
}
.card img{
    width: 100%;
}
.card-item-title{
    font-size: 2em;
    margin-top: 26px;
    margin-bottom: 20px;
}
.card-item-text{
    font-size: 1.6em;
}
#news{
    background-color: #ffffff;
    padding: 68px 0 33px 0;
    width: 100%;

}
.news-list li{
     display: flex;
     flex-wrap: wrap;
     width: 838px;
     border-bottom: 1px solid #ccc;
     margin-left: 100.5px;
     padding: 18.5px 5px 16.5px;      
}
.label-1,.label-2,.label-3,.label-4{
    border-radius: 5px;
    color: #fff;
    margin: 0px 20px;
    padding: 3px 15px;
    font-weight: bold;
}
.label-1{
    background-color:black;
}
.label-2{
    background-color:blue ;
}
.label-3{
    background-color:red;
}
.label-4{
    background-color:black;
    width: 110px;
    text-align: center;
    height: 30px;
    margin-left: 10px;
}
.label-1:hover,
.label-2:hover,
.label-3:hover,
.label-4:hover{
  opacity: 0.5;
  color: white;
}
.day-4{
    width: 120px;
}
.News .text{
    color: black;
}
.News .text:hover{
  opacity: 0.4;
}
.news-list-2 li{
    display: flex;
    width: 838px;
    border-bottom: 1px solid #ccc;
    margin-left: 100.5px;
    padding: 18.5px 5px 16.5px; 
}
.news-list-3 li{
    display: flex;
    width: 838px;
    margin-left: 100.5px;
    padding: 18.5px 5px 16.5px; 
}
.more{
     margin-left: 480px;
     margin-top: 16px;
     color: red;
}
.news .svg-inline--fa{
    vertical-align: middle;
    margin-left: 6.5px;
}
.price img{
    margin-left: 10px;
    margin-right: 120px;
}
table.tabletest{
    border: 1px solid #333;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}
.price .section-contents{
    display: flex;
}
table.tabletest th,
table.tabletest td{
    border: 1px solid #333;
}
th:first-child{
    width: 100%;
}
th,td{
    width: 100%;
    height: 48px;
    text-align: center;
}
td span{
    color: red;
}
td{
    text-align: right;
}
#price{
    padding: 68px 0 102px;
    background:#EEEEEE
}
.price .inner{
    height: 500px;
}
.content-info .text{
    position: relative;
    top: 20px;
}
#access{
    padding: 68px;
}
.iframe-wrap{
    position: relative;
    width: 100%;
    padding-top: 50%;
}
.iframe-wrap iframe{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
}
.access .content-map{
    margin-left: 150px;
}
.access table td{
    text-align: left;
    width: 200px;
}
.access table{
    margin-left: 180px;
    margin-top: 41px;
}
.access button{
    background-color: #3F51B5;
    border-radius: 12px;
    border-bottom: white 1px solid;
    border-right: white 1px solid;
    margin-left: 430px;
    margin-top: 38px;
    color: white;
    width: 220px;
    height: 50px;
}
.access .svg-inline--fa{
    vertical-align: middle;
    margin-left: 30px;
}
#contact{
    height: 1258px;
    background-color: #EFEFEF;
    padding: 68px 0 33px 0;
}
.text-test-1,
.text-test-2,
.text-test-3 {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    font-size: 1em;
    padding: 0.4em 0.8em;
    width: 500px;
    height: 60px;
    margin-top: 50px;
  }
  
  .text-test-1,
  .text-test-2,
  .text-test-3:focus {
    border: 1px solid rgba(0, 0, 0, 0.32);
    box-shadow: none;
    outline: none;
  }
.select-test {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent url(https://haniwaman.com/wp-content/uploads/2018/12/form-css-arrow.png) no-repeat center right 8px/16px 16px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  padding: 0.4em 0.8em;
  width: 500px;
  height: 60px;
  margin-top: 50px;
}

.select-test::-ms-expand {
  display: none;
}

.select-test:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-shadow: none;
  outline: none;
}
.text-test-3{
    padding-bottom: 200px;
    padding-top: 20px;
}
.radio-test-1,.radio-test-2 {
    display: none;
  }
  
  .radio-test-1 + span,.radio-test-2+span{
    cursor: pointer;
    display: inline-block;
    margin: 41px 0px 0 200px;
    padding: 0 0px 0px 40px;
    position: relative;
  }
  
  .radio-test-1 + span::before,
  .radio-test-2+span::before{
    -webkit-transform: translateY(-50%);
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 50%;
    content: "";
    display: block;
    height: 30px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
  }
  
  .radio-test-1 + span::after,
  .radio-test-2+span::after{
    -webkit-transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.32);
    border: 1px solid transparent;
    border-radius: 50%;
    content: "";
    height: 18px;
    left: 6px;
    opacity: 0;
    padding: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease 0s;
    width: 18px;
  }
  
  .radio-test-1:checked+ span::after,
  .radio-test-2:checked+span::after {
    opacity: 1;
  }
  .radio-test-2+span{
      margin-left: 30px!important;
  }
  .check-test {
    display: none;
  }
  
  .check-test + span {
    cursor: pointer;
    display: flex;
    margin: 45px 0em 30px 400px;
    padding: 15px 0 0 50px;
    position: relative;
  }
  
  .check-test + span::before {
    -webkit-transform: translateY(-50%);
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 2px;
    content: "";
    display: block;
    height: 30px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
  }
  
  .check-test + span::after {
    -webkit-transform: translateY(-50%) rotate(-45deg);
    border-bottom: 3px solid rgba(50,101,255);
    border-left: 3px solid rgba(50,101,255); 
    content: "";
    display: block;
    height: 14px;
    left: 0;
    margin-top: -5.5px;
    margin-left: 5.5px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    transition: all 0.3s ease 0s;
    width: 20px;
  }
  
  .check-test:checked + span::after {
    opacity: 1;
  }
  .form-check p{
      border-bottom: 0.5px solid black ;
  }

  .submit-test {
    -webkit-appearance: none;
    background-color: #3F51B5;
    background-image: none;
    border: none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    margin: 0 0 0 440px;
    padding: 0.6em 2em;
    text-decoration: none;
    color: white;
    width: 241px;
    border-radius: 12px;
  }
  
  .submit-test:hover,
  .submit-test:focus {
    outline: none;
    background-color: #6f7579;
  }
  
  .submit-test::-moz-foucus-inner {
    border: none;
    padding: 0;
  }
  .form-content{
      display: grid;
      grid-template-columns: 400px 1fr
  }
 .form-text-1,.form-text-2,.form-text-3{
     margin-top: 70px;
     margin-left: 200px;
     vertical-align: bottom;
 }
 .form-text-1 span,.form-text-2 span{
     color: red;
 }
 label span{
     margin-left: 100px;
 }
 .contact .svg-inline--fa{
    vertical-align: middle;
    margin-left: -30px;
    margin-top: -5px;
    color: white;
}
.contact .form{
    height: 912px;
    background-color: white;
}
#footer{
    height: 338px;
    background-color: #333333;
}
.footer-left,
.footer-center,
.footer-right{
    color: white;
    margin: 74px 0 0 40px;
}
.footer-left img{
    margin-bottom: 30px;
}
.footer-content{
    display: flex;
}
.footer-center a{
    margin-left: 40px; 
    color: white;
}
.footer-center{
    margin:74px 100px 0 60px;
}
.footer-right{
    margin-left: 50px;
}
.footer-right img{
    margin-right: 16px;
}
.footer-copy{
    text-align: center;
    color: white;
    position: relative;
    top: 70px;
}
.footer .svg-inline--fa{
    position: relative;
    width: 40px;
    height: 40px;
    left: 1120px;
    top: 20px;
    background-color: rgba(0, 0, 255, 0.753);
 
}



@media screen and (max-width:767px) {
 .wrapper{
     max-width: 100%;
 }
 .header-left{
     margin-left: 10vw;
 }   
 .header-right{
     display: none;
 }
 .header-mv h2{
     font-size: 2.0em;
 }
 .header-mv p{
     font-size: 1.5em;
 }
 .header-mv .btn{
     font-size: 1.2em;
 }
 .wrapper{
     width: 100%;
 }
 .card .card-title,
.News .News-title,
.price .price-title,
.access .access-title,
.contact .contact-title{
    font-size: 3.0em;
}
.card-item{
    width: calc(100%);
    margin-left: 6vw;
}
.card-item-title{
    font-size: 1.5em;
}
.card-item-text{
    font-size: 1.0em;
}
.news-list li,
.news-list-2 li,
.news-list-3 li{
    margin-left: -5vw;
    width: 100%;
    flex-wrap: wrap;
}
.label-4{
    padding-left: 4vw!important;
    width: 24vw;
    margin-left: -5vw;
}
.more{
    margin-left: 35vw;
}
.content-img{
    margin-left: -1vw;
    margin-bottom: 2vw;
}
.price .section-contents{
    display: block;
}
.tabletest{
    margin-left:1.5vw;
}
th,td{
    width: 32vw;
    text-align: center;
}
td{
  text-align:right
}
th:first-child{
    width: 32vw;
}
.content-info .text{
    position: relative;
    left: 2vw;
    top:2vw;
}
.price{
  height:245vw;
}
.content-map iframe{
    width:93vw;
    height:80vw;
    margin-left:-55vw;
  }
  .access table{
    width:100%;
    margin-left:1vw;
  }
  .access td:nth-child(2){
    width:60vw;
    padding-left:1vw;
  }
  .access button{
    margin-left:3vw;
  }
  .form-content{
    display:block;
  }
  .form-text-1,
  .form-text-2{
    margin-left:5vw;
    margin-bottom:-5vw
  }
  .form-text-3{
    margin-left:5vw;
    margin-bottom:-5vw;
  }
  .form-text-1 br,
  .form-text-2 br{
    display:none;
  }
  .text-test-1,
  .text-test-2,
  .text-test-3,
  .select-test{
    margin-left:5vw;
    width:90vw;
  }
  .form-label{
    display:flex;
    margin-left:-53vw
  }
  .form-check{
    margin-left:-100vw;
    margin-top:-6vw;
  }
  .form-button{
    margin-left:-100vw;
    margin-top:-6vw;
  }
  .contact .form{
    height:290vw;
  }
  .contact{
    margin-bottom:20vw;
    height:50vw;
  }
  #footer{
    height:112vw
  }
  .footer-content{
    display:block
  }
  .footer-left{
    margin-left:23vw
  }
  .footer-left img{
    margin-top:10vw
  }
  .footer-left p{
    margin-left:5vw
  }
  .footer-center{
    display:flex;
    margin-top:8vw
  }
  .footer-center a{
    margin-left:3vw
  }
  .footer-right{
    margin-top:8vw
  }
  .footer-right img{ 
    margin-right:2vw;
    margin-left:11vw;   
  }
  .footer-copy{
    margin-top:-10vw
  }
  .footer .svg-inline--fa{
    position:relative;
    left:85vw;
    top:80px;
  }
}








@media screen and (max-width: 1179px) {
    .card-item{
        width: calc(42%);
        margin-left: 4vw;
    }   
    .header-left{
        margin-left: 8vw;
    }   
    .header-right{
      margin-right:17vw
    }
    .news-list li,
   .news-list-2 li,
   .news-list-3 li{
       margin-left: 3vw;
       width: 100%;
   }
   .label-1,.label-2,.label-3{
    margin-left:1.3vw
  }
    .label-4{
       width: 9.15vw;
       margin-left:-1vw
   }
    .more{
       margin-left: 45vw;
   }
   th,td{
    width:15vw
  }
  .content-img{
    margin-left:2.5vw
  }
  .content-map iframe{
    width:60vw
  }
   .access table{
   width:100%;
   margin-left:20vw;
 }
 .access td:nth-child(2){
   width:0vw;
 }
 .access button{
   margin-left:33vw;
 }
 .footer-right img{
    margin-right:1vw;
  }
  .footer-center a{
    margin-left:4vw
  }
  .footer-center{
    margin-left:7vw
  }
  .footer-copy{
    margin-left:7vw
  }
   .footer .svg-inline--fa{
     margin-left:-15vw
   }

}

